* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100vw;
}

.App {
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navBar_Container {
  border: 1px solid red;
  width: 100%;
}

.navBar_ul {
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid greenyellow;
}

.navBar_li {
  border: 1px solid black;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.article_Container {
  /* All Children Element of article container will see flex, sub-child will not*/
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.carousel_Container_Main {
  border: 1px solid black;
}

.carousel_Container_Sub {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.carousel_Img,
.carousel_Container_Img {
  height: 100%;
  width: 100%;
}

.article_Sub_Container_One {
  border: 1px solid red;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.article_Sub_Container_Two {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
}

.location_Text {
  text-align: center;
}
.array_Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1 fr);
  gap: 1rem;
  border: 1px solid red;
}

.placeHolder_Img {
  /*Added width so child can scale with parent*/
  width: 100%;
}

.footer_Container {
  border: 1px solid red;
}

.socialMedia_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.socialMedia_circle {
  border-radius: 4rem;
}

.footMain_Content_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
